body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center; /* Align items to the center horizontally and vertically */
    height: 110vh;
    background: linear-gradient(to right, green, blue);
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 100px;
    color: #ffffff;
    margin: -200px 0 0; /* Set margin-top to 20px and remove margin-bottom */
    margin-bottom: 20px; /* Add margin at the bottom to separate the button */
}

button {
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 20px 40px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;

}

button:hover {
    background-color: limegreen;
    transform: translateY(-5px); /* Apply translateY transform to create a bounce effect */
}

button:active {
    transform: translateY(0); /* Reset transform on click */
}
